{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Réserver{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-3 has-text-primary">Participant ajouté avec succès !</h1>
            <p class="notification is-success">
                Le participant <strong>{{ participant.name }}</strong> a été ajouté à l'évènement <strong>{{ event.name|capitalize }}</strong>.
            </p>
            <hr>

            <h3 class="title is-4">Récapitulatif participant :</h3>
            <p><strong>Nom :</strong> {{ participant.name }}</p>
            <p><strong>E-mail :</strong> {{ participant.email }}</p>
            <hr>

            <h3 class="title is-4">Récapitulatif évènement :</h3>
            <p><strong>Nom :</strong> {{ event.name }}</p>
            <p><strong>Localisation :</strong> {{ event.locationLatitude }} / {{ event.locationLongitude }}</p>
            <p><strong>Date :</strong> {{ event.date|date('d/m/Y') }}</p>

            <div class="mt-4">
                <a href="{{ path('app_home') }}" class="button is-primary">Retour à l'accueil</a>
            </div>
        </div>
    </section>
{% endblock %}
