{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/events/detail.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Évènements{% endblock %}

{% block body %}

    {% if event %}

    <h1>Détail de l'évènement {{ event.name|capitalize }}</h1>

    <div class='event-detail'>
        <section id='event-detail-infos'>
            <p>Date de début: {{ event.date|date('d/m/Y') }}</p>
            <p>Localisation: {{ event.locationLongitude }} / {{ event.locationLatitude }}</p>

            <div>
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.991123456789!2d{{ event.locationLongitude }}!3d{{ event.locationLatitude }}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671d1e9a82b7b%3A0x4fd4ee234f60d0e5!2sEiffel+Tower!5e0!3m2!1sen!2sfr!4v1634176894342!5m2!1sen!2sfr" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>        
            </div>
        </section>

        <section id='event-detail-participants'>
            <h3>Liste des participants</h3>

            <ul>
            {% for participant in participants %}
                <li>{{ participant.name }}</li>
            {% endfor %}
            </ul>

            <a href="/events/{{event.id}}/participant/new">
                <iconify-icon icon="ic:round-plus"></iconify-icon>Participant
            </a>
        </section>
    </div>
    
    {% else %}

    <h3>Aucun évènement disponible référencé à cet attribut</h3>

    {% endif %}

{% endblock %}