{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/events/new-participant.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Évènements{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Ajouter un participant à un évènement</h1>
        <a href="{{ path('events_detail', {'id': id}) }}" class="button is-light">Annuler</a>

        <div class="box">
            {{ form_start(form, {'attr': {'class': 'form'}}) }}
            
            <div class="field">
                {{ form_label(form.name, 'Nom du participant', {'label_attr': {'class': 'label'}}) }}
                <div class="control">
                    {{ form_widget(form.name, {'attr': {'class': 'input'}}) }}
                </div>
                {% if form.name.vars.errors|length > 0 %}
                    <p class="help is-danger">{{ form.name.vars.errors[0].message }}</p>
                {% endif %}
            </div>

            <div class="field">
                {{ form_label(form.email, 'E-mail du participant', {'label_attr': {'class': 'label'}}) }}
                <div class="control">
                    {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
                </div>
                {% if form.email.vars.errors|length > 0 %}
                    <p class="help is-danger">{{ form.email.vars.errors[0].message }}</p>
                {% endif %}
            </div>

            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Ajouter le participant</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
