{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/events/new-participant.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Évènements{% endblock %}

{% block body %}
    <h1>Ajouter un participant à un évènement</h1>
    <a href="{{ path('events_detail', {'id': id}) }}">Annuler</a>

    {{ form_start(form)}}

        <div>
            {{ form_label(form.name, 'Nom du participant') }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <div>
            {{ form_label(form.email, 'E-mail du participant') }}
            {{ form_widget(form.email) }}
            {% if form.email.vars.errors|length > 0 %}
                <div class="form-error">{{ form.email.vars.errors[0].message }}</div>
            {% endif %}
        </div>

        <button type="submit">Ajouter le participant</button>

    {{ form_end(form) }}
{% endblock %}